<div class="row">
    <app-gif-card class="col-sm-6 col-md-3" *ngFor="let gif of Gifs" [gif]="gif"></app-gif-card>
    <!-- <div 
        *ngFor="let gif of Gifs"
        class="col-sm-6 col-md-3 ">
        <div class="card mb-2 text-center bg-dark">
            <img src="{{ gif.images.downsized_medium.url }}" class="card-img-top" alt="...">
            <div class="card-body text-white">
                <p class="card-text">
                    {{ gif.title }}
                </p>
            </div>
        </div>
    </div> -->
</div>